<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Project</title>
  <meta name="keywords" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.">
  <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.">
  <link rel="stylesheet" href="static/assets/bootstrap/fonts/flat-icon/flaticon.css">
  <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<div id="content-wrapper">
  <header class="header header--bg">
    <div class="container">
      <nav class="navbar">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="#">HOME</a></li>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">SKILL</a></li>
            <li><a href="#">PROJECTS</a></li>
            <li><a href="#">CONTACT</a></li>
          </ul>
        </div>
      </nav>
      <div class="header__content text-center">
        <span class="header__content__block">HELLO</span>
        <h1 class="header__content__title">I'M SUPRAJA YK</h1>
        <ul class="header__content__sub-title">
          <li>M.Sc DATA SCIENCE<span class="padding"></span></li>
        </ul>
        <a class="header__button" href="#">Contact Me</a>
      </div>
      <div class="social-icon pull-right">
        <ul>
          <li><a href="#"><i class="flaticon-facebook-letter-logo"></i></a></li>
          <li><a href="#"><i class="flaticon-twitter-logo"></i></a></li>
          <li><a href="#"><i class="flaticon-behance-logo"></i></a></li>
          <li><a href="#"><i class="flaticon-dribbble-logo"></i></a></li>
        </ul>
      </div>
    </div>
  </header>
  <section class="about">
    <div class="container about__container--narrow">
      <div class="page-section">
        <h2 class="page-section__title">ABOUT ME</h2>
          <img class="page-section__title-style" src="static/image/title-style.png" alt="">
          <p class="page-section__paragraph"></p>
          <div class="row gutters-80">
            <div class="col-md-4">
              <div class="about__image">
                <img src="static/image/192.jpg" alt="">
              </div>
            </div>
            <div class="col-md-8 about__content">
              <p class="about__description">To obtain a data science position where I can leverage my skills in machine learning, data analysis and data visualization to drive insights and improve business outcomes. As a data-driven problem solver, I am dedicated to delivering measurable results and contributing to an organization.</p>
              <div class="row row--margin-top">
                <div class="col-md-4">
                  <p class="about__bio"><strong>NAME :</strong> SUPRAJA YK</p>
                  <p class="about__bio"><strong>MAIL :</strong> supraja2d@gmail.com</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <a class="button button--colorful button--margin" href="#">DOWNLOAD CV</a>
                </div>
                <div class="col-md-4">
                  <a class="button button--colorful button--margin" href="#">HIRE ME</a>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>
  <section class="skill skill--bg">
    <div class="container skill__container--narrow">
      <div class="page-section">
        <h2 class="page-section__title page-section__title--white">MY SKILL</h2>
        <img class="page-section__title-style" src="static/image/title-style-white.png" alt="">
        <p class="page-section__paragraph page-section__paragraph--white"></p>
        <div class="row gutters-60">
          <div class="col-md-3">
            <div class="thumbnail text-center">
              <img src="static/image/111g.jpg" alt="">
              <h4 class="skill__single-part__title">Machine Learning</h4>
                <div class="progress-bar" role="progressbar" style="width:50%;background-color: #7FB7FA;">
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="thumbnail text-center">
            <img src="static/image/2f.png" alt="">
            <h4 class="skill__single-part__title">Deep Learning</h4>
              <div class="progress-bar" role="progressbar" style="width:50%;background-color: #7FB7FA;">
              </div>
          </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail text-center">
              <img src="static/image/2i.png" alt="">
              <h4 class="skill__single-part__title">MongoDB</h4>
                <div class="progress-bar" role="progressbar" style="width:50%;background-color: #FFAC1B;;">
                </div>
          </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail text-center">
              <img src="static/image/q11.jpg" alt="">
              <h4 class="skill__single-part__title">Python</h4>
                <div class="progress-bar" role="progressbar" style="width:50%;background-color: #C99AFF;">
                </div>
             </div>
          </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail text-center">
              <img src="static/image/2k.jpg" alt="">
              <h4 class="skill__single-part__title">Power BI</h4>
                <div class="progress-bar" role="progressbar" style="width:50%;background-color: #C99AFF;">
                </div>
            </div>
        </div>
          <div class="col-md-3">
            <div class="thumbnail text-center">
              <img src="static/image/2l.png" alt="">
              <h4 class="skill__single-part__title">SQL</h4>
                <div class="progress-bar" role="progressbar" style="width:50%;background-color: #C99AFF;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="page-section">
      <h2 class="page-section__title">Academic Qualification</h2>
      <div class="page-section__content">
        <div class="left-content">
        <p class="page-section__paragraph"></p>
        <div class="row gutters-70">
        </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <section class="slider slider--bg">
    <div id="myCarousel" class="carousel container slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <div class="carousel-content">
            <div class="">
              <div class="text-center">
                <img src="" alt="">
                <h4>M.Sc DATA SCIENCE</h4>
                <h6>INDIAN ACADEMY DEGREE COLLEGE</h6>
                <p>2021-2023</p>
                <div class="rating">
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="item">
          <div class="carousel-content">
            <div class="">
              <div class="text-center">
                <img class="" src="" alt="">
                <h4>B.Sc(MPCS)</h4>
                <h6>SRI VENKATESHWARA DEGREE COLLEGE</h6>
                <p>2018-2021</p>
                <div class="rating">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>


  <section class="team">
    <div class="container">
      <div class="page-section">
        <h2 class="page-section__title">ACADEMIC PROJECTS</h2>
        <img class="page-section__title-style" src="static/image/title-style.png" alt="">
        <p class="page-section__paragraph"></p>
        <div class="row gutters-40">
          <div class="col-md-6 col-lg-3">
            <div class="thumbnail">
              <img class="img-responsive" src="static/image/1111d.jpg" alt="">
              <h4 class="team__single-section__name">Bank Marketing</h4>
              <p class="team__single-section__title"></p>

              <div class="team__overlay">
                <div class="team__overlay__content">
                  <div class="team__single-section--backPage">
                    <h4 style="padding-left: 0;" class="team__single-section__name">Bank Marketing</h4>
                    <p style="padding-left: 0;" class="team__single-section__title"></p>
                    <p class="team__single-section--backPage__title">The classification goal is to predict if the client will subscribe a term deposit.<span class="team__single-section--backPage__percent90"></span></p>
                    <div class=>
                      <div class="progress-bar" role="progressbar" style="width:90%;background-color: #7F56FD;">
                        <span class="progress-bar--"></span>
                        <span class="progress-bar--"></span>
                      </div>
                    </div>
                    <p class="team__single-section--backPage__title"><span class="team__single-section--backPage__percent80"></span></p>
                    <div class=>
                      <div class="progress-bar" role="progressbar" style="width:80%;background-color: #7F56FD;">
                        <span class="progress-bar--"></span>
                        <span class="progress-bar--"></span>
                      </div>
                    </div>
                    <p class="team__single-section--backPage__title"><span class="team__single-section--backPage__percent70"></span></p>
                    <div class=>
                      <div class="progress-bar" role="progressbar" style="width:70%;background-color: #7F56FD;">
                        <span class="progress-bar--"></span>
                        <span class="progress-bar--"></span>
                      </div>
                    </div>
                    <hr style="border: 0;border-bottom: 1px solid #ECEFF1;display:block;padding-top: 45px;">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="thumbnail">
              <img src="static/image/1c.jpg" alt="">
              <h4 class="team__single-section__name">Book Recommendation System</h4>
              <p class="team__single-section__title"></p>
              <div class="team__overlay">
                <div class="team__overlay__content">
                  <div class="team__single-section--backPage">
                    <h4 style="padding-left: 0;" class="team__single-section__name">Book Recommendation System</h4>
                    <p style="padding-left: 0;" class="team__single-section__title"></p>
                    <p class="team__single-section--backPage__title">Book recommendation system is to enhance the user experience by reducing the effort required to discover new books.<span class="team__single-section--backPage__percent90"></span></p>
                    <div class=>
                      <div class="progress-bar" role="progressbar" style="width:90%;background-color: #7F56FD;">
                        <span class="progress-bar--"></span>
                        <span class="progress-bar--"></span>
                      </div>
                    </div>
                    <p class="team__single-section--backPage__title"><span class="team__single-section--backPage__percent80"></span></p>
                    <div class=>
                      <div class="progress-bar" role="progressbar" style="width:80%;background-color: #7F56FD;">
                        <span class="progress-bar--"></span>
                        <span class="progress-bar--"></span>
                      </div>
                    </div>
                    <p class="team__single-section--backPage__title"><span class="team__single-section--backPage__percent70"></span></p>
                    <div class=>
                      <div class="progress-bar" role="progressbar" style="width:70%;background-color: #7F56FD;">
                        <span class="progress-bar--"></span>
                        <span class="progress-bar--"></span>
                      </div>
                    </div>
                    <hr style="border: 0;border-bottom: 1px solid #ECEFF1;display:block;padding-top: 45px;">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="thumbnail">
              <img src="static/image/1b.png" alt="">
              <h4 class="team__single-section__name">Inventory analysis</h4>
              <p class="team__single-section__title"></p>
              <div class="team__overlay">
                <div class="team__overlay__content">
                  <div class="team__single-section--backPage">
                    <h4 style="padding-left: 0;" class="team__single-section__name">Inventory analysis</h4>
                    <p style="padding-left: 0;" class="team__single-section__title"></p>
                    <p class="team__single-section--backPage__title">The goal is to gain the insights in inventory analysis and improve sales performance and make informed decisions that can lead to profitability.<span class="team__single-section--backPage__percent90"></span></p>
                    <div class=>
                      <div class="progress-bar" role="progressbar" style="width:90%;background-color: #7F56FD;">
                        <span class="progress-bar--"></span>
                        <span class="progress-bar--"></span>
                      </div>
                    </div>
                    <p class="team__single-section--backPage__title"><span class="team__single-section--backPage__percent80"></span></p>
                    <div class=>
                      <div class="progress-bar" role="progressbar" style="width:80%;background-color: #7F56FD;">
                        <span class="progress-bar--"></span>
                        <span class="progress-bar--"></span>
                      </div>
                    </div>
                    <p class="team__single-section--backPage__title"><span class="team__single-section--backPage__percent70"></span></p>
                    <div class=>
                      <div class="progress-bar" role="progressbar" style="width:70%;background-color: #7F56FD;">
                        <span class="progress-bar--"></span>
                        <span class="progress-bar--"></span>
                      </div>
                    </div>
                    <hr style="border: 0;border-bottom: 1px solid #ECEFF1;display:block;padding-top: 45px;">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="">
              <img src="" alt="">
              <h4 class="team__single-section__name"></h4>
              <p class="team__single-section__title"></p>
              <div class="team__overlay">
                <div class="team__overlay__content">
                  <div class="team__single-section--backPage">
                    <h4 style="padding-left: 0;" class="team__single-section__name"></h4>
                    <p style="padding-left: 0;" class="team__single-section__title"></p>
                    <p class="team__single-section--backPage__title"><span class="team__single-section--backPage__percent90">90&#37;</span></p>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width:90%;background-color: #7F56FD;">
                        <span class="progress-bar--dot-main"></span>
                        <span class="progress-bar--dot"></span>
                      </div>
                    </div>
                    <p class="team__single-section--backPage__title">Adobe Illustrator <span class="team__single-section--backPage__percent80">80&#37;</span></p>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width:80%;background-color: #7F56FD;">
                        <span class="progress-bar--dot-main"></span>
                        <span class="progress-bar--dot"></span>
                      </div>
                    </div>
                    <p class="team__single-section--backPage__title">After Effect <span class="team__single-section--backPage__percent70">70&#37;</span></p>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width:70%;background-color: #7F56FD;">
                        <span class="progress-bar--dot-main"></span>
                        <span class="progress-bar--dot"></span>
                      </div>
                    </div>
                    <hr style="border: 0;border-bottom: 1px solid #ECEFF1;display:block;padding-top: 45px;">
                    <div class="social-icons">
                      <ul>
                        <li><a href="#"><i class="flaticon-facebook-letter-logo"></i></a></li>
                        <li><a href="#"><i class="flaticon-twitter-logo"></i></a></li>
                        <li><a href="#"><i class="flaticon-dribbble-logo"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </section>

  <footer class="footer footer--bg">
    <div class="container text-center">
      <h1 class="footer__title">CONTACT ME</h1>
      <ul class="footer__contact-information">
        <li><a href="mailto:supraja2d@gmail.com"><i class="material-icons">email</i> supraja2d@gmail.com</a></li>
        <li><a href="#"><i class="material-icons"></i> </a></li>
      </ul>
    </div>


  <section class="contact" id="contact">
    <div class="heading">
        <h2>Contact</h2>
        <span>Connect With Us</span>
    </div>
    <div class="contact-form">
<form action="/send_email" method="POST">
    <input type="text" name="name" placeholder="Your Name">
    <input type="email" name="email" placeholder="Your Email">
    <textarea name="message" cols="30" rows="10" placeholder="Write Message Here..."></textarea>
    <input type="submit" value="Send" class="contact-button">
</form>
</div>

 </section>
</footer></body>
</html>
      <p></p>
    </div>
  </footer>
</div>
  <script src="assets/jquery/jquery-3.2.1.min.js"></script>
  <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="static/js/script.js"></script>

  <script>
    $('a').click(function(e)
      {
        e.preventDefault();
      });

    // calling mixitup
    var mixer = mixitup(".portfolio");
  </script>
</body>
</html>